* {
  box-sizing: border-box;
}
div.carousel {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}

ul {
  display: block;
  position: relative;
  padding: 0px;
  margin: auto;
}

ul > li {
  list-style: none;
  position: absolute;
}

.indicator {
  min-width: 100%;
  margin: auto;
  position: absolute;
  bottom: 5%;
}

li.current > img {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
   -ms-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
       transition: opacity 1.5s ease;
}

li.hide > img {
  max-height: 400px;
  opacity: .3;
  visibility: hidden;
}

.prevBtn {
  position: absolute;
  left: 20px;
  top:50px;
}
.nextBtn {
  position: absolute;
  right: 20px;
  top:50px;
}


.prevBtn, .nextBtn {
  background-color: #003e63;
  border: solid 2px #001e30;
  border-radius: 400px;
  display: block;
  height: 3.0rem;
  width: 3.0rem;
  position: absolute;
  margin-top: -1.5rem;
  cursor: pointer;
  opacity: 0.25;
  z-index: 20;
}

.prevBtn:hover, .nextBtn:hover {
  background-color: white;
}

span i {
  margin-top: 13px;
  border: solid #fff;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

span:hover i {
  margin-top: 13px;
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 5px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dot {
  margin: 0 5px;
  display: inline-block;
  border: rgba(0, 0, 0, .4) solid 2px;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.2)
}

.dot:hover {
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  background: white;
}

.dot.current {
  margin: 0 5px;
  display: inline-block;
  border: rgba(0, 0, 0, .4) solid 2px;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
}