$current-bg-color: #49bcea;
$border-color: rgba(0,0,0,0.2);
$hover-bg-color: #1abc9c;
$normal-bg-color: #dbdbdb;
$normal-text-color: #969696;
$completed-bg-color: #fff;
$completed-text-color: #585858;
$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.breadcrumbs {
  ul {
    text-align: center;
    margin: 0px auto;
    padding: 2rem 0rem;
    width: 100%;
  }
}
#breadcrumb{
  list-style:none;
  display: inline-block;
  background-color: gray;


  .icon{
    font-size: 14px;
  }
  
  li{
    // float:left;
    display: inline-block;
    a{
      font-family: "proxima-nova";
      color: $normal-text-color;
      display:block;
      background: $normal-bg-color;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 8px 0 4px;
      text-align: center;
      margin-right: 23px;
    }
    &.current {
      a {
        background-color: $current-bg-color;
        color: whitesmoke;
        &:before{
          border-color:$current-bg-color;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$current-bg-color;
        }
      }
    }
    &.completed {
      a {
        background-color: $completed-bg-color;
        color: $completed-text-color;
        &:before{
          border-color:$completed-bg-color;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$completed-bg-color;
        }
      }
    }
    // &:nth-child(even){
    //   a{
    //     background-color: $blue-darken;

    //     &:before{
    //       border-color:$blue-darken;
    //       border-left-color:transparent;
    //      }
    //     &:after{
    //       border-left-color:$blue-darken;
    //     }
    //   }
    // }
    &:first-child{
      a{
        padding-left:15px;
        @include border-radius(4px 0 0 4px);
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        margin-right: 0;
        @include border-radius(0 4px 4px 0);
        &:after{
          border:none;
         }
      }
    }

    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $normal-bg-color;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$normal-bg-color;
      }
      &:hover{
        background-color: $hover-bg-color;
        color: whitesmoke;
        &:before{
          border-color: $hover-bg-color;
          border-left-color:transparent;
         }
        &:after{
          border-left-color: $hover-bg-color;
        }
      }
      &:active{
        background-color: $green-darken;
        
        &:before{
          border-color:$green-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$green-darken;
        }
      }
    }
  }
}