$current-bg-color: #49bcea;
$current-text-color: #fff;
$border-color: #dbdbdb;
$hover-bg-color: #1abc9c;
$normal-bg-color: #f3f3f3;
$normal-text-color: #969696;
$completed-bg-color: #fff;
$completed-text-color: #585858;
$width: 2.5rem;

#table-breadcrumb {
  table-layout: fixed;
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;

   td {
    font-family: "proxima-nova";
    background: $normal-bg-color;
    text-align: center;
    position: relative;
    padding-left: 1rem;
    height: $width;
    span {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      a, a:visited, {
        color: $completed-text-color;
        font-weight: 600;
      }
    }

    // &:before
    &:before, & > a:before{
      content: "";
      position: absolute;
      z-index: 1;
      display: inline-block;
      top: $width*0.13;
      right: -$width*0.35;
      width: $width*0.6875;
      height: $width*0.6875;
      transform: rotate(45deg);
    }

    &:before {
      background-color: $normal-bg-color;
      border: {
        top: 1px solid $border-color;
        right: 1px solid $border-color;
      }
    }

    & > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      &:before {
        background-color: transparent;
        border: {
          top: 0px solid transparent;
          right: 0px solid transparent;
        }
      }
    }
    &:hover span a{
      color: $current-text-color;
    }

    &.completed {
      background-color: $completed-bg-color;
      &:before {
        background-color: $completed-bg-color;
        border: {
          top: 1px solid $border-color;
          right: 1px solid $border-color;
        }
      }
    }

    &.selected, &:hover {
      background-color: $current-bg-color;
      color: $current-text-color;
      &:before {
        background-color: $current-bg-color;
        border: {
          top: 1px solid $border-color;
          right: 1px solid $border-color;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }



    &:last-of-type {
      &:before{
        content: normal;
      }
    }
  }
}

@media screen and (max-width:320px) {
  #table-breadcrumb{
    table-layout: unset;
    td {
      padding: 5px 0;
      border: {
        top: 1px solid $border-color;
        left: 1px solid $current-text-color;
        bottom: 1px solid $border-color;
        right: 1px solid $current-text-color;
      }
      & > span {
        text-align: left;
      }

      &:first-of-type {
        border: {
          left: 1px solid $border-color;
        }
      };
      &:last-of-type {
        border: {
          right: 1px solid $border-color;
        }
      };
      &:before {
        display: none;
      }
    }
  }
}

@media screen and (min-width:321px) {
  #table-breadcrumb{
    td {
      padding: 0 $width*0.25;
      border: 1px solid $border-color;
      span {
        text-align: center;
      }
    }
  }
}